<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Shopping List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="css"
      href="/shopping-list-component.component.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="row">
          <div class="col-3 border">
            <ul class="itemList">
              <li
                *ngFor="let item of currentItemListItems"
                [class.selected]="item === selectedItem"
                (click)="onSelect(item)"
              >
                {{ item.ItemName }}
              </li>
            </ul>
          </div>
          <div class="col-md-auto">
            <div class="btn-group-vertical float-center">
              <button
                (click)="removeItem()"
                name="moveRight"
                type="button"
                class="btn btn-outline-dark"
              >
                &#x25B6;
              </button>
              <br />
              <button
                (click)="addItem()"
                name="moveLeft"
                type="button"
                class="btn btn-outline-dark"
              >
                &#x25C0;
              </button>
              <br />
              <br />
              <button name="moveUp" type="button" class="btn btn-outline-dark">
                &#x25B2;
              </button>
              <br />
              <button
                name="moveDown"
                type="button"
                class="btn btn-outline-dark"
              >
                &#x25BC;
              </button>
            </div>
          </div>
          <div class="col-3 border">
            <ul class="itemList">
              <li
                *ngFor="let item of previousItemList"
                [class.selected]="item === selectedItem"
                (click)="onSelect(item)"
              >
                {{ item.ItemName }}
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <button
              type="button"
              (click)="createItem(newItem)"
              name="createItem"
              type="button"
              class="btn btn-outline-dark"
            >
              Add Item
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="editItem()"
              name="editItem"
              type="button"
              class="btn btn-outline-dark"
            >
              Edit Item
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="deleteItem()"
              name="deleteItem"
              type="button"
              class="btn btn-outline-dark"
            >
              Delete Item
            </button>
          </div>
        </div>
        <br /><br />
        <span class="btn-group">
          <button type="button" class="btn btn-outline-dark">Save List</button>
          <button type="button" class="btn btn-outline-dark">Clear List</button>
          <button type="button" class="btn btn-outline-dark">Load List</button>
        </span>
      </div>
    </div>
  </body>
</html>
